@import "variables.css";
@import "./nav.css";
@import "./hero.css";
@import "about.css";

body {
    height: 100%;
    background-color: var(--Grey-500);
}

html, body, input, textarea {
    font-family: var(--Font), sans-serif;
}

main {
    display: grid;
    grid-template-rows: 7fr 3fr;
    height: 100dvh;
    max-height: 100dvh;
    overflow: hidden;
}